
<%= form_for @exercise_set, :url => { :action => "create" } do |f| %>
    <%= f.label :exercise_type %>
    <%= f.text_field :exercise_type %>
    <br>
    <%= f.label :weight %>
    <%= f.number_field :weight %><span>(pounds)</span>
    <br>
    <%= f.label :rep_count %>
    <%= f.number_field :rep_count %>
    <br>
    <%= submit_tag "Log it" %>
<% end %>