<!DOCTYPE html>
<html>
  <head>
    <title>WorkoutTrackerCore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wide-space">
      <div class="main-area">

        <%= render 'layouts/header' %>
          <div class="body-content">
            <%= yield %>
          </div>
      </div>
    </div>
  </body>
</html>
